@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}

p {
    color: #727272;
    font-size: 15px;
    margin-bottom: 32px;
}

/* header section  */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-left: 13%;
    padding-right: 13%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}


.nav-link {
    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    padding-left: 30px;
    color: black;
}

.banner section {
    text-align: center;
}

.banner section h2 {
    font-weight: 700;
    font-size: 45px;
}

.btn-exploreMore {
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    border: 0;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 32px;
}

.banner-img {
    width: 100%;
    height: 620px;
    padding-bottom: 20px;
}

/* second-part start  */
.second-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 70px;
}

.second-part img {
    width: 270px;
    height: 270px;
}

.second-part-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.second-part h1 {
    font-size: 38px;
    font-family: 'Work Sans';
    font-weight: 500;
    color: #727272;
}

/* third-part-start */
.third-part {
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.third-left-side {
    margin-right: 100px;
}

.third-left-side>h1,
.fourth-part>div>h1,
.fifth-part>h1,
.nav-text,
.center h2 {
    font-size: 35px;
}

.third-left-side>h1 {
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.blog {
    margin-bottom: 5px;
    padding: 10px 10px 5px 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgb(238, 238, 238);
}

.third-right-image {
    width: 600px;
    height: 870px;
}

.btn-experience {
    position: relative;
    top: -80px;
    left: -50px;
    padding: 30px 60px 30px 60px;
    border: 0;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 30px;
}

/* fourth-part-start */
.fourth-part {
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 120px;
}

.facts {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    gap: 100px;
}

.facts-element {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #707070;
    width: 50%;
    height: 70%;
    padding: 10px 10px;
    margin: 0;
    border-radius: 4px;
    border: 2px solid #FF900E;
    transition: height 1s, width 2s, transform 1s;
}

.facts-element:hover {
    background-color: #f4c6c6;
    border: 3px solid red;
    height: 80%;
    width: 60%;
    transform: rotate(45deg);
}

/* fifth-part-start */
.fifth-part {
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 120px;
}

.sponsors-item {
    display: flex;
    justify-content: space-between;
}

/*..............bonus part............  */
.center {
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
}

.btn button {
    padding: 15px 45px;
    background: transparent;
    border: 3px solid aqua;
    color: black;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn button::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 128, 51);
    z-index: -1;
    transition: 0.5s all ease-in-out;
}

.btn button:hover::after {
    width: 100%;
}

/* footer-part-start  */
footer {
    padding: 70px 13% 70px 13%;
    text-align: center;
}

footer div {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 15px;
}

/*....................
     media queries
.......................  */
@media only screen and (max-width: 688px) {
    .body {
        width: 688px;
    }

    header,
    .second-part,
    .third-part,
    .fourth-part,
    .fifth-part,
    .sponsors-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 13%;
        padding-right: 13%;
    }

    .navBar,
    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .banner-img {
        height: 450px;
    }

    .second-part-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .facts-element {
        height: 50%;
        width: 60%;
    }

    .third-right-image {
        width: 98%;
    }

    .sponsors-item img {
        padding-bottom: 40px;
    }

    /* footer part  */
    .footer div {
        padding: 10px 30px 10px 30px;
    }

}